// WinnersListing Component Styling

.winners-listing__intro {
  font-size: 30px;

  p {
    max-width: 470px;
  }
}

.winner-listing__name {
  font-size: 30px;
  font-weight: 500;
}

.winner-listing__company {
  font-size: 18px;
}

.winners-listing__illustration {
  transform: scale(1);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

a.winners-listing__link {
  &:hover {
    text-decoration: none;

    .winners-listing__illustration {
      transform: scale(1.05);
    }
  }
}
