// WinnersListing Component Styling
@import '../../sass/settings-tools.scss';

.winners-listing__intro {
  font-size: 30px;

  p {
    max-width: 470px;

    @include mq($until: device) {
      font-size: 20px;
      text-align: center;
    }
  }
}

.winner-listing__name {
  font-size: 30px;
  font-weight: 500;
}

.winner-listing__company {
  font-size: 18px;
}

.winners-listing__illustration {
  transform: scale(1);
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;

  @include mq($until: desk) {
    max-width: 260px;
  }

  @include mq($until: palm) {
    max-width: 300px;
  }
}

a.winners-listing__link {
  &:hover {
    text-decoration: none;

    .winners-listing__illustration {
      transform: scale(1.05);
    }
  }
}

.winner__image {
  @include mq($until: desk) {
    margin-bottom: 50px;
    margin-top: -50px;
    max-width: 260px;
  }
}
