// WinnersListing Component Styling

.winners-listing__intro {
  font-size: 30px;

  p {
    max-width: 470px;
  }
}

.winner-listing__name {
  font-size: 30px;
  font-weight: 500;
}

.winner-listing__company {
  font-size: 18px;
}

a.winners-listing__link {
  &:hover {
    text-decoration: none;
  }
}
