/* ==========================================================================
   #FONTS
   ========================================================================== */

// Place all @font-face declarations in here

@font-face {
  font-display: swap;
  font-family: 'Platform';
  font-style: normal;
  font-weight: 500;
  src: url('../../fonts/') format('woff2'), url('../../fonts/Platform-Medium.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Platform';
  font-style: normal;
  font-weight: bold;
  src: url('../../fonts/Platform-Bold.woff2') format('woff2'),
    url('../../fonts/Platform-Bold.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: 'Platform';
  font-style: normal;
  font-weight: normal;
  src: url('../../fonts/Platform-Regular.woff2') format('woff2'),
    url('../../fonts/Platform-Regular.woff') format('woff');
}
