// Winners Layout Component Styling
@import '../../sass/settings-tools.scss';

.winners-layout {
  background-color: #fff;
  margin-top: 300px;
  position: relative;

  @include mq($until: device) {
    margin-top: 250px;
  }

  &:before {
    background-color: #04c1ac;
    content: '';
    height: 230px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-330px, 0) rotate(10deg);
    width: 3000px;
    z-index: -10;

    @include mq($until: device) {
      margin-top: 230px;
      transform: translate(-330px, -230px) rotate(10deg);
    }
  }

  &:after {
    background-color: #fff;
    content: '';
    height: 700px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-230px, -230px) rotate(-10deg);
    width: calc(100vw + 500px);
    z-index: -5;

    @include mq($until: device) {
      transform: translate(-230px, -150px) rotate(-10deg);
    }
  }
}
