/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * Color helpers
 */

.u-color-white {
  color: color('white');
}

.u-color-black {
  color: color('black');
}

.u-color-grey {
  color: color('grey');
}

.u-color-primary {
  color: color('primary');
}

.u-color-secondary {
  color: color('secondary');
}

.u-color-tertiary {
  color: color('tertiary');
}

.u-color-light-blue {
  color: color('light-blue');
}

.u-background-color-white {
  background-color: color('white');
}

.u-background-color-grey-light {
  background-color: color('grey-light');
}

.u-background-color-grey {
  background-color: #e6e6e6;
}

.u-background-color-black {
  background-color: color('black');
}

.u-background-color-primary {
  background-color: color('primary');
}

.u-background-color-secondary {
  background-color: color('secondary');
}

.u-background-color-tertiary {
  background-color: color('tertiary');
}

.u-background-color-black-off {
  background-color: color('black-off');
}
