/* ==========================================================================
   #DISPLAY
   ========================================================================== */

/**
 * Display helpers
 */

.u-display-inline {
  display: inline-block;
}

.u-display-block {
  display: block;
}

.u-display-none {
  display: none;
}
