.video-hero {
  position: relative;

  &:after {
    background-color: #04c1ac;
    content: '';
    height: 700px;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(-330px, -100px) rotate(-10deg);
    width: 3000px;
    z-index: -10;
  }
}
