/* ==========================================================================
   #FONTS
   ========================================================================== */

/*
*  BASE FONTS
*/

// Poppin
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Poppins', 'Helvetica', Arial, sans-serif;

/*
*  FONT SIZES
*/

$hero-header-font-size: 50px;
$hero-caption-font-size: 18px;
